.layout {
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    background: white;
}

.logo {
    width: 100%;
    max-width: 100px;
}

.content {
    padding: 1rem 3rem;
    background-color: rgb(226 232 240);
}

.content-container {
    margin-top: 1rem;
    background: white;
    min-height: 280;
    padding: 1rem 2rem 2rem;
    /* padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem; */
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.footer {
    text-align: center;
}

@media (min-width: 600px) {
    .content-container {
        margin-top: 2rem;
    }
}